@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Asap Condensed", sans-serif;
}

body {
  background-image: url("images/final.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.main-container {
  height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-container {
  width: 20%;
  height: 650px;
  /* float: left; */
}
nav {
  display: none;
}
ul {
  padding: 20px;
  list-style-type: none;
}

ul li {
  line-height: 50px;
  text-align: center;
  padding: 10px;
  margin: 40px;
}

ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  width: 150px;
  transition: 0.2s ease;
}

ul li a:hover {
  font-weight: bold;
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.2);
  color: #434952;
}
.software {
  position: relative;
  left: 180px;
}
.software-pic {
  position: relative;
  top: 130px;
  left: 200px;
  width: 400px;
  height: 500px;
  transform: rotate(2deg);
  transition: all 1s ease;
  -webkit-filter: drop-shadow(5px 10px 10px #222);
  filter: drop-shadow(5px 10px 10px #222);
  /* float: left; */
}

.software-pic:hover {
  transform: scale(1.3);
  transform: rotate(92deg);
}
#icon-container {
  display: none;
  width: 280px;
  position: fixed;
  z-index: 120;
}
#icon {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  top: 50vh;
  z-index: 100;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.5s ease;
  display: block;
  background-color: rgba(0, 0, 0, 1);
  width: 20px;
  border-radius: 50%;
  padding: 7px;
}
.rotate {
  transform: rotate(-180deg);
  left: 270px;
}
.display {
  display: block;
}
.wrapper {
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.95);
  transition: 0.3s ease;
  border-radius: 1.5%;
  z-index: 10;
  position: fixed;
  top: 20vh;
}
.bg {
  width: 300px;
  height: 600px;
  transform: translate(-1%);
}
#word-container {
  /* float: right; */
  width: 80%;
  height: 550px;
  padding: 120px;
  margin-top: 160px;
  overflow: hidden;
}
.group {
  margin-top: 40px;
  margin-right: 100px;
  display: none;
  z-index: 1;
  float: right;
  margin: 0 auto;
}

h1 {
  font-size: 90px;
  color: white;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 2px 1px 10px black;
  font-family: "Staatliches", cursive;
}
hr {
  width: 400px;
}
h2 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 40px;
  margin-top: 30px;
}
.btn {
  display: none;
}
.magic-button {
  margin: 50px 100px;
  padding-bottom: 8px;
  padding-top: 5px;
  height: 40px;
  width: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  border: none;
  background-color: #aa3737;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.magic-button:hover {
  background-color: #aa3737;
  box-shadow: 0 0 10px #aa3737, 0 0 20px #aa3737, 0 0 30px #aa3737;
}
.one {
  display: inline-block;
  width: 20px;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  top: -140px;
  left: 50%;
  transition: 1s ease;
}
.two {
  display: inline-block;
  width: 20px;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  left: 60%;
  top: 460px;
  transition: 1s ease;
}
.three {
  display: inline-block;
  width: 20px;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  left: 90%;
  top: -140px;
  transition: 1s ease;
}
.four {
  display: inline-block;
  width: 20px;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  left: 85%;
  top: 100%;
  transition: 1s ease;
}
.one.animations {
  height: 40px;
  top: 120%;
}
.two.animations {
  height: 50px;
  top: -40%;
}
.three.animations {
  height: 50px;
  top: 120%;
}
.four.animations {
  height: 50px;
  top: -40%;
}
.section-container {
  margin-top: 150px;
  clear: both;
  margin: 0 auto;
  text-align: center;
  color: white;
  width: 60%;
}
.section-container section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 70px;
  margin-top: 100px;
}
.section-container img {
  width: 100px;
  margin-bottom: 40px;
}

#about-me-para {
  margin: 20px auto;
  font-size: 25px;
  padding: 40px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.8);
  text-align: justify;
  word-spacing: 2px;
  border-radius: 10px;
  width: 90%;
}
#intern-para {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.65);
  margin: 20px auto;
  padding: 30px;
  width: 90%;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.8);
  text-align: justify;
  word-spacing: 2px;
  border-radius: 10px;
}
.about-me-image {
  margin-top: 10px;
}
#aboutme-h3 {
  position: relative;
  top: 10px;
}
.section-container h3 {
  margin-bottom: 40px;
  font-size: 30px;
  margin-top: 50px;
  font-weight: bold;
  position: relative;
  top: -20px;
}
.about-me-image {
  border-radius: 100%;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icons-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  width: 75%;
  color: white;
  border-radius: 10px;
}
.accordian .card {
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.card-header {
  cursor: pointer;
  position: relative;
  background-color: rgba(119, 119, 119, 0.45);
  margin: 0;
  padding: 20px 5px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 10px 10px 17px rgba(0, 0, 0, 0.8);
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link a {
  text-decoration: none;
  color: #fff;
}
.link-button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  margin-top: 35px;
}

.link-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.link-button:hover {
  cursor: pointer;
}
.link-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.link-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.link-button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.link-button:hover span {
  transform: translateX(5em);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.card .card-header .header-sizing {
  font-size: 30px;
}
.card .card-header .span {
  height: 25px;
  width: 25px;
  color: #3343a2;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}
.card-body {
  font-size: 1.7rem;
  padding: 30px;
  margin-bottom: 10px;
  text-align: justify;
  letter-spacing: 0.5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
  font-family: "Oswald", sans-serif;
}
.card .card-body {
  display: none;
}
/*open one card by default*/
.card:nth-child(1) .card-body {
  display: block;
}
.icons {
  height: 55px;
  width: 55px !important;
  position: relative;
  top: 15px;
}
.js {
  margin-left: 10px;
}
.react,
.html,
.css {
  margin-right: 30px;
}
.icons-container span {
  font-weight: bold;
  font-size: 20px;
}
.skills-image {
  width: 50px !important;
  margin-right: 20px;
}

#sutd {
  width: 150px;
}
#location {
  height: 40px;
  width: 40px;
  margin-right: 30px;
  position: relative;
  top: -27px;
}
.intern-container {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 20px 60px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  padding: 20px;
}
.intern-images {
  margin-top: 20px;
}

hr {
  margin: 20px auto;
  width: 45%;
}
.about-container {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 20px 60px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  padding: 20px;
}
footer {
  color: white;
  height: 200px;
  background-color: black;
}
.footer-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
#footer-text {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}
footer img:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: 0.4s;
}
.dark {
  width: 40px;
  height: 40px;
  background: radial-gradient(black, rgba(0, 0, 0, 0.4));
  border-radius: 50%;
  float: left;
  margin: 50px 10px;
  position: fixed;
  cursor: pointer;
  z-index: 100;
}
.shift {
  background: rgb(9, 7, 28);
  background: linear-gradient(
    90deg,
    rgba(9, 7, 28, 1) 37%,
    rgba(4, 4, 9, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.shift #icon {
  font-size: 10px;
  color: #15141d;
  position: relative;
  top: 50vh;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.5s ease;
  display: block;
  background-color: gray;
  width: 20px;
  border-radius: 50%;
  padding: 7px;
}

.shift .dark {
  background: gray;
}
.shift ul li a:hover {
  font-weight: bold;
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.2);
  color: blue;
}
/* .shift .software-pic {
  display: none;
} */
.shift h1 {
  color: white;
  letter-spacing: 1px;
  margin: 0;
  text-shadow: 2px 1px 10px black;
}
.shift h2 {
  color: rgba(255, 255, 255, 0.6);
}
.shift button {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}
.shift button:hover {
  background-color: royalblue;
  box-shadow: 0 0 10px royalblue, 0 0 20px royalblue, 0 0 30px royalblue;
}
.shift .one,
.shift .two,
.shift .three,
.shift .four {
  background-color: blue;
}
.shift hr {
  border: 1px solid rgba(255, 255, 255, 0.45);
}
.shift #about-me-para,
.shift #intern-para {
  background-color: #05040d;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.8);
}
.shift .icons-container,
.shift .intern-container,
.shift .about-container {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 10px 0px 5px #05040d;
  backdrop-filter: blur(10px);
}

.shift footer {
  background-color: #0b0c34;
  color: white;
}
@media only screen and (max-width: 1500px) {
  .menu-container .software-pic {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    background-image: url("images/fin-mobile.jpg");
  }
  .menu-container .wrapper {
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 100;
  }
  .one,
  .two,
  .three,
  .four {
    display: none;
  }
  .main-container {
    height: 70vh;
  }
  .group h1 {
    font-size: 40px;
    float: right;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
  }
  .shift .group h1 {
    font-size: 40px;
    float: right;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    color: #fff;
  }
  .group h2 {
    font-size: 30px;
    float: right;
    position: relative;
    left: 60px;
    color: rgba(255, 255, 255, 0.6);
  }
  .group .a {
    color: white;
  }
  .menu-container .software {
    opacity: 0;
  }
  .group button {
    opacity: 0;
  }
  .intern-container {
    width: 90%;
  }
  body hr {
    display: none;
  }
  #word-container .group {
    position: absolute;
    right: 20vw;
  }
  .section-container {
    width: 95%;
  }
  .section-container .intern-container #intern-para {
    font-size: 1rem;
  }
  .section-container #about-me-para {
    font-size: 1.1rem;
  }
  .section-container #projects .project-section {
    width: 90%;
  }
  #accordion .card .card-body {
    font-size: 1.1rem;
    width: 115%;
    position: relative;
    right: 18px;
  }
  .card .card-header .header-sizing {
    font-size: 20px;
  }
  .link-button {
    padding: 15px;
    height: 35px;
  }
  .card {
    width: 100%;
  }
}
